conf/xsd/v3_0/cc141c.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:extensions="urn:eds:datamodel:EDS:EDS_EXTENSIONS:1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ncts.dgtaxud.ec" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://ncts.dgtaxud.ec" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="60.4.16" vc:minVersion="1.1">
  <!--================================================================================-->
  <!--===== IE141: E_MOV_RSP                                                          -->
  <!--===== INFORMATION ABOUT NON-ARRIVED MOVEMENT                                    -->
  <!--===== NCTS Phase 6 - DDNTA-6.4.1-v1.00                                          -->
  <!--===== XSD Version 60.4.16                                                       -->
  <!--================================================================================-->
  <!--================================================================================-->
  <!--===== Includes                                                                  -->
  <!--================================================================================-->
  <xs:import namespace="urn:eds:datamodel:EDS:EDS_EXTENSIONS:1" schemaLocation="EDS/EDS_EXTENSIONS.xsd"/>
  <xs:include schemaLocation="ctypes.xsd" />
  <xs:include schemaLocation="htypes.xsd" />
  <!--================================================================================-->
  <!--===== Root Element                                                              -->
  <!--================================================================================-->
  <xs:element name="CC141C" type="CC141CType" />
  <!--================================================================================-->
  <!--===== Root Element Content                                                      -->
  <!--================================================================================-->
  <xs:complexType name="CC141CType">
    <xs:sequence>
      <xs:element name="Extensions" type="extensions:ExtensionType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:group ref="MESSAGE" />
      <xs:element name="TransitOperation" type="TransitOperationType43">
        <xs:annotation>
          <xs:documentation>
            <description value="TRANSIT OPERATION" />
            <optionality value="R" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsOfficeOfDestinationActual" minOccurs="0" type="CustomsOfficeOfDestinationActualType01">
        <xs:annotation>
          <xs:documentation>
            <description value="CUSTOMS OFFICE OF DESTINATION (ACTUAL)" />
            <optionality value="D" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsOfficeOfEnquiryAtDeparture" type="CustomsOfficeOfEnquiryAtDepartureType01">
        <xs:annotation>
          <xs:documentation>
            <description value="CUSTOMS OFFICE OF ENQUIRY AT DEPARTURE" />
            <optionality value="R" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HolderOfTheTransitProcedure" type="HolderOfTheTransitProcedureType19">
        <xs:annotation>
          <xs:documentation>
            <description value="HOLDER OF THE TRANSIT PROCEDURE" />
            <optionality value="R" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Enquiry" minOccurs="0" type="EnquiryType01">
        <xs:annotation>
          <xs:documentation>
            <description value="ENQUIRY" />
            <optionality value="O" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Consignment" minOccurs="0" type="ConsignmentType07">
        <xs:annotation>
          <xs:documentation>
            <description value="CONSIGNMENT" />
            <optionality value="D" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="PhaseID" type="phaseIDtype" />
  </xs:complexType>
</xs:schema>
